@import "./layout.css";

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 200px;
  height: 200px;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgb(21,20,20/50%);
  padding: 10px;
  transition: background-color 0.3s linear;
  &:hover {
    background-color: var(--primary-color);
  }
  > img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    object-fit: contain;
  }
  > p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    text-align: center;
    text-wrap: break-word;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.portfolio-card {
  width: 300px;
  height: 300px;
  border-radius: 1rem;

  > div {
    visibility: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background-color: rgb(21, 47, 47, .5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: visibility 0.3s linear 0;
    > h3 {
      margin: 0;
      padding: 0;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      text-wrap: break-word;
      margin-bottom: 5px;
    }
    > label {
      font-size: 0.8rem;
      color: var(--warning-color);
    }

    p {
      margin: 0;
      padding: 5px;
      font-size: 0.8rem;
      text-align: center;
      text-wrap: break-word;
    }

    a {
      color: var(--primary-color);
      text-decoration: none;
      border-radius: 5px;
      outline: 2px solid var(--primary-color);
      padding: 5px;
      &:hover {
        scale: 1.1;
      }
    }
  }
  &:hover {
    div {
      visibility: visible;
    }
  }
}


