:root {
  --color-background: rgb(39,40,41);
  --main-color: rgb(53,52,58);
  --primary-color: rgb(241, 191, 109);
  --secondary-color: rgb(61,63,67);
  --warning-color: rgb(255, 191, 109);
}

html, body {
	background-color: var(--color-background);
  margin: 0;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
}

body {
	color: #fff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 0;
  filter: drop-shadow(0 0 2px rgb(241, 191, 109));
  max-width: 750px;
  box-sizing: border-box;
  background-color: var(--main-color);
  outline: .1px solid var(--primary-color);
  overflow: hidden;

  article {
    padding: 10px;
  }

  strong {
    font-weight: 600;
    font-size: 1rem;
    color: var(--primary-color);
  }

  a {
    text-decoration: none;
  }
}

* {
  scroll-behavior: smooth;
}
